.env

/logs/nginx/*
/logs/php5.6/*
/logs/php7.3/*
/logs/php7.4/*
/logs/php8.2/*

/mysql/*

/nginx/conf.d/*
/nginx/html/*

/php5.6/*
/php7.3/*
/php7.4/*
/php8.2/*

/scripts/*

#example nginx
!/nginx/conf.d/default.conf

/www/*

!/www/index.php
!/www/info.php

/certs/*
